@use "sass:map";
@use "../config.scss" as config;

/* COLORS */

/// ATT&CK Brand colors (legacy, not used)
$attack-colors: (
  attack-orange: #2d6a4f,
  attack-blue: #1b2a4a,
  attack-footer: #0f1a2e,
  attack-active: #40916c
);

/// SAFE Brand colors
$user-colors: (
  user-gray: #1b2a4a,
  safe-green: #2d6a4f,
  safe-navy: #1b2a4a,
  safe-dark-navy: #0f1a2e,
  safe-active: #40916c
);

///
/// Colors used across the website.
/// For each color-pair:
///   - "color" refers to the color itself
///   - "on-color" refers to the most readable text-color to appear on top of the color.
/// Note: some colors don't define on-colors. This is because, for these colors, they aren't intended to
/// appear with inner content. For example, "link" is only intended to be used for link text, which inherently
/// cannot have inner text.
///
$colors: (
  primary: (
    color: if(config.$use-attack-theme, map.get($attack-colors, attack-orange), map.get($user-colors, safe-green)),
    on-color: white
  ),
  // used for header and some nav elements
  secondary:
    (
      color: if(config.$use-attack-theme, map.get($attack-colors, attack-blue), map.get($user-colors, safe-navy)),
      on-color: white
    ),
  // used for some buttons
  footer:
    (
      color: if(config.$use-attack-theme, map.get($attack-colors, attack-footer), map.get($user-colors, safe-dark-navy)),
      on-color: #87deff
    ),
  // used for footer and some buttons
  active:
    (
      color: if(config.$use-attack-theme, map.get($attack-colors, attack-active), map.get($user-colors, safe-active)),
      on-color: #eaeaea
    ),
  // used for active buttons and sidebar links
  body:
    (
      color: white,
      on-color: #39434c
    ),
  // primary page body
  // example of a dark theme for the site
  // body: (color: rgb(50, 50, 50), on-color: #cdcdcd),
  link:
    (
      color: #4f7cac
    ),
  // hyperlinks
  matrix-header:
    (
      color: gray,
      on-color: white
    ),
  // color of matrix headers
  // query highlight in the search UI
  search-highlight:
    (
      color: yellow,
      on-color: black
    ),
  deemphasis: (
    color: #303435
  )
);
